@charset "utf-8";
/* CSS Document */

a {
    text-decoration: none;
    color: deepskyblue;
}

.thumbnail {
    height: auto;
    min-height: 330px;
    border: thin gray outset;
}

.thumbnail:hover {
    background-color: rgba(0,0,0,0.1);
}

.text_column p {
    color: black;
}