body {
                background-color: black;
                }

            h1 {
                color: white;
                }

            h2 {
                color:gray;
                }

            a {
                font-size:30px;
                }

            #head {
                text-align:center; 
                font-family: helvetica, monospace, sans-serif;
                }

            #links {
                text-align:center;
                border: 5px solid gray;
                padding:5px;
                width:60%;
                position:relative;
                left:20%;
            }

            #slow {
                color:gray;
                width:40%;
                position: absolute;
                bottom: 0;
                left: 0;
                font-family: helvetica, monospace, sans-serif;
            }
            .highlight {
                color:white; 
            }
            
            .aa {
                padding:10px;
                font-family: helvetica, monospace, sans-serif;
            }
            
            .underline {
                text-decoration:underline;
            }
            
            .extra {
                padding:10px;
                position:absolute;
                bottom:0;
                right:0;
                color:gray;
                margin-left:15px;   
            }

            a.hover, a.focus {
                background-color:rgb(227, 218, 195);
            }

           
            #elmo{
                color:#200000;
                font-size:20px;
                position:absolute;
                left:10%;
                top:25%;
            }

            .giphy-embed {
                position:absolute;
                left:1%;
                top:1%;
            }

            body {background-color:black}
