.background    { 
  background: gray;
  table-layout: fixed;
  border-spacing: 0;   
}

.background td { 
  padding: 0;
}

.lava { 
  background-image: url(lava.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.ice { 
  background-image: url(ice.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;}

.wall { 
  background: white;   
}

.actor  { 
  position: absolute;  
}

.player { 
  background-image: url(jim_2.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.floater { 
  background: black;   
}
.bounce {
  background-image: url(random.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  }

.coin { 
  background-image: url(coin.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  }

.orb { 
  background: goldenrod;
}

.potion {
  background-image: url(gravity.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  }

.health {
  background-image: url(variation.png);
  background-size: 125% 125%;
  background-repeat: no-repeat;}


.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background-image: url(jim_2.jpg);
}

.won .player {
  background-image: url(jim_2.jpg);
}

