body {
    background-color: #1b262c;
}

#top {
    background-color:#0f4c75;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:7.5%;
    border-bottom:5px #bbe1fa solid;
    padding:5px;
    margin:5px;
}

footer {
    background-color:black;
    width:100%;
    height: 5%;
    position:absolute;
    bottom: 0;
    left: 0;
    color: rgb(167, 149, 30);
    font-size:1.25em;
    text-decoration: none;
}

#text {
    color:aquamarine;
    position:absolute;
    top:25%
}

#head {
    font-size:1.5em;
}

#low {
    font-size:20px;
    width:60%
}

.btn {
    color: #bbe1fa;
    font-size:1.5em;
    margin:10px;
    position:relative;
    bottom:10px;
}

.dropdown {
    height:10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:auto;
    width:50%;
}

.why, .asc, .game, .about, .app, .owo {
    position:relative;
    color: #bbe1fa;
    margin-left:7.5%;
    }

.why ul, .asc ul , .game ul, .about ul, .app ul, .owo ul{
    position:absolute;
    left: 0px;
    margin-top:10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;
    border-radius:5px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.5s ease;
}

.why a, .asc a, .game a, .about a, .app a, .owo a{
    color: #bbe1fa;
    text-decoration:none;
    font-size:20px;
}

.dropdown button {
    margin:auto;
    background: none;
    border: none;
    cursor: pointer;

}


.why li:hover, .asc li:hover, .game li:hover, .about li:hover, .app li:hover, .owo li:hover {
    background-color: #3282b880;
    pointer-events: all;
}

.why li, .asc li, .game li, .about li, .app li, .owo li{
    display:flex;
    justify-content:center;
    align-items:center;

}

.why button:focus + ul, .asc button:focus + ul, .game button:focus + ul, .about button:focus + ul, .app button:focus + ul, .owo button:focus + ul{
opacity:1;
pointer-events: all;
transform: translateY(0px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#nyan {
    position:absolute;
    right:2%;
    top:9%;
    z-index: 10;
}



