
* {
    font-size:30px;
    color:paleturquoise;
    font-family: unset;
}

body {
    background:url(pic1.jpg);
    background-repeat: none;
}

h1 {
	background-color: rgba(0, 0, 0, 0.8); 
	color: #A6670F; 
	font-family: sans-serif; 
	font-size: 1.2em; 
	text-align: center;
    width:100%;
    padding:10px;
}

h2 {
    font-size:1.05em;
    text-align:center;
}

form{
	background-color: rgba(0, 0, 0, 0.8); 
	color: #ffffff; 
	font-family: sans-serif; 
	text-align: right;
    padding:5px;
}

blockquote {
    border-bottom:2px solid white;
    padding-bottom:5px;
    text-align:left;
}



input[type=radio]:checked+label {
/* Or `#a1:checked+label` if you only want it for that input */
    color: #800000;
}

button {
    border-radius:30px;
    border:none;
    background-color:gray;
    padding-right:10px;
    padding-left:10px;
}   

